@import "../../index.scss";

.button__main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 47px;
}

.button__container-download {
  display: flex;
  flex-direction: row;
  gap: 38px;
  margin-top: 50px;
  &:first-child {
    margin-top: 0;
  }
  @media screen and (max-width: 600px) {
    margin-top: 20px;
    &:first-child {
      margin-top: 0;
    }
  }
}

.button-download {
  background: #fff;
  width: 290px;
  border-radius: 10px;
  border: 0px solid #3e64aa;
  text-align: center;
  color: $light-color;
  font-family: Oswald;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.531px;
  padding-top: 25px;
  padding-bottom: 25px;
  cursor: pointer;
  text-decoration: none;
  &-dark {
    background: #171f26;
    color: $dark-color;
  }
  @media screen and (max-width: 805px) {
    width: 250px;
  }
  @media screen and (max-width: 600px) {
    width: 158px;
    font-size: 14px;
    max-height: 44px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.button-download:hover {
  background: #fbd144;
}

.button {
  border-radius: 10px;
  border: 0px solid #3e64aa;
  background: transparent;
  text-align: center;
  color: $light-color;
  font-family: Oswald;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.531px;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 350px;
  cursor: pointer;

  &__light {
    color: $light-color;
  }
  &__dark {
    color: $dark-color;
  }

  &[data-theme="true"]:hover {
    background: #d7d7d7;
  }
  &__active {
    background: #d7d7d7;
  }
  &__active-dark {
    background: #0c151d;
  }

  &[data-theme="false"]:hover {
    background: #0c151d;
  }

  @media screen and (max-width: 805px) {
    width: 300px;
  }
  @media screen and (max-width: 600px) {
    width: 154px;
    height: 50px;
    font-size: 14px;
    padding-top: 14px;
  }
}

.button__container {
  display: flex;
  flex-direction: row;
  gap: 38px;
  width: 760px;
  border-radius: 20px;
  background: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  justify-content: center;
  margin-top: 86px;
  &-dark {
    background: #171f26;
  }
  @media screen and (max-width: 805px) {
    width: 650px;
  }
  @media screen and (max-width: 600px) {
    width: 330px;
    gap: 9px;
    margin-top: 50px;
  }
}
